<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/userLayout.html}">

<head>
    <title>Library</title>
</head>

<body>
    <!doctype html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/userLayout.html}">

    <head>
        <title>Library</title>
    </head>

    <body>
        <content layout:fragment="content">
            <style>
                label {
                    transform: translateY(-2rem) translateY(0.1rem) scale(.8);
                    font-size: 22px;
                }
            </style>
            <div class="row text-center mt-2">
                <div class="col text-uppercase">
                    <h1 class="font-weight-bold h1">Sign Up</h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-4 offset-4">
                    <form method="post" th:href="@{signUp}" th:object="${user}">
                        <!-- Email input -->
                        <div class="form-outline mb-5">
                            <input type="text" id="form3Example3" class="form-control border"
                                th:field="*{loginNameUser}" />
                            <label class="form-label" for="form3Example3">User</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-5">
                            <input type="password" id="form3Example4" class="form-control border"
                                th:field="*{loginPasswordUser}" />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>

                        <!-- Name input -->
                        <div class="form-outline mb-5">
                            <input type="text" id="form3Example5" class="form-control border" th:field="*{nameUser}" />
                            <label class="form-label" for="form3Example3">Name</label>
                        </div>
                        <!-- Phone input -->
                        <div class="form-outline mb-5">
                            <input type="text" id="form3Example6" class="form-control border" th:field="*{phoneUser}" />
                            <label class="form-label" for="form3Example3">Phone</label>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                            <label class="form-check-label" for="form2Example33">
                                Subscribe to our newsletter
                            </label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

                        <!-- Register buttons -->
                        <div class="text-center">
                            <p>or sign up with:</p>
                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-github"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </content>
    </body>

    </html>
</body>

</html>