<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/adminLayout.html}">

<head>
    <title>Library</title>
</head>

<body>
    <content layout:fragment="content">
        <div class="row text-center mt-2">
            <div class="col text-uppercase">
                <h1 class="font-weight-bold h1"><span th:text="${title}"></span> Book</h1>
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-12 offset-1">
                <div class="row">
                    <div class="col text-uppercase">
                        <h1 class="font-weight-bold h2">Book Info</h1>
                    </div>
                </div>
                <form action="/admin/scan/addOrEdit" method="post" th:object="${book}" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="bookName">Book EPC</label>
                                <input type="text" name="bookName" id="bookName" class="form-control" placeholder=""
                                    aria-describedby="helpId" readonly th:field="*{idTagRead}" th:value="${idTagRead}">
                            </div>
                            <div class="form-group">
                                <label for="bookName">Book Name</label>
                                <input type="text" name="bookName" id="bookName" class="form-control" placeholder=""
                                    aria-describedby="helpId" th:field="*{titleBook}">
                            </div>
                            <div class="form-group">
                                <label for="bookName">Book Author</label>
                                <input type="text" name="bookName" id="bookName" class="form-control" placeholder=""
                                    aria-describedby="helpId" th:field="*{authorBook}">
                            </div>
                            <div class="form-group">
                                <label for="bookDescription">Book Description</label>
                                <textarea class="form-control" name="bookDescription" id="bookDescription" rows="4"
                                    th:field="*{descriptionBook}"></textarea>
                            </div>
                            <div class="buttonHandle mt-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-danger">Reset</button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <script>
                                    function chooseFile(fileInput) {
                                        if (fileInput.files && fileInput.files[0]) {
                                            var reader = new FileReader();
                                            reader.onload = function (e) {
                                                $('#image').attr('src', e.target.result);
                                            }
                                            reader.readAsDataURL(fileInput.files[0]);
                                        }
                                    }
                                </script>
                                <img th:src="${book.imgBook!=null?'/data/'+book.imgBook:'https://islandpress.org/sites/default/files/default_book_cover_2015.jpg'}"
                                    class="w-50" alt="" id="image">
                                <br>
                                <input onchange="chooseFile(this)" type="file" class="form-control-file h-25 mt-2"
                                    id="exampleFormControlFile1" name="imageFile" th:field="*{imgFile}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </content>
</body>

</html>