<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/adminLayout.html}">

<head>
    <title>Library</title>
</head>

<body>
    <content layout:fragment="content">
        <div class="row text-center mt-2 mb-2">
            <div class="col text-uppercase">
                <h1 class="font-weight-bold h1">BORROW BOOK OFFLINE</h1>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-6">
                <div class="row">
                    <div class="col text-uppercase">
                        <h4 class="font-weight-bold h4">Book INFO</h4>
                        <form method="POST" th:action="@{/admin/scanBorrow}">
                            <button type="submit" class="btn btn-secondary">Scan</button>
                        </form>
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    <div class="col-12 ">
                        <table class="table align-middle mb-0 bg-white">
                            <thead class="bg-light">
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Author</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${books!=null}" th:each="book:${books}">
                                    <td>
                                        <img class="img-fluid w-25 border-0" th:src="@{/data/}+${book.imgBook}" alt="">
                                    </td>
                                    <td>
                                        <p class="fw-normal mb-1" th:text="${book.titleBook}"></p>
                                    </td>
                                    <td>
                                        <p class="fw-normal mb-1" th:text="${book.authorBook}"></p>
                                    </td>
                                    <td>
                                        <h6 th:if="${book.statusBook==1}" class="text-success d-inline">Can borrow</h6>
                                        <h6 th:if="${book.statusBook==0}" class="text-danger d-inline">Can't borrow</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col text-uppercase">
                        <h4 class="font-weight-bold h4">Profile Student</h4>
                    </div>
                </div>
                <form th:action="@{/admin/submitBorrow}" method="post" class="needs-validation" th:object="${user}"
                    novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">User</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="User" required
                                th:field="*{loginNameUser}">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Password</label>
                            <input type="password" class="form-control" id="validationCustom02" placeholder="Password" required
                                th:field="*{loginPasswordUser}">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="buttonHandle my-3">
                        <div th:with="checkStatus=${books.^[statusBook==0]}">
                            <button
                                th:class="${checkStatus} OR ${books.size()==0}?'btn btn-primary disabled':'btn btn-primary'"
                                type="submit" class="">
                                Submit
                            </button>
                        </div>
                    </div>
                    <script>
                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                        (function () {
                            'use strict';
                            window.addEventListener('load', function () {
                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                var forms = document.getElementsByClassName('needs-validation');
                                // Loop over them and prevent submission
                                var validation = Array.prototype.filter.call(forms, function (form) {
                                    form.addEventListener('submit', function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add('was-validated');
                                    }, false);
                                });
                            }, false);
                        })();
                    </script>
                </form>
            </div>
        </div>

    </content>
</body>

</html>