<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/adminLayout.html}">

<head>
    <title>Library</title>
</head>

<body>
    <content layout:fragment="content">
        <div class="row text-center mt-2 mb-2">
            <div class="col text-uppercase">
                <h1 class="font-weight-bold h1">Details Of Borrow</h1>
            </div>
        </div>
        <section class="h-100 h-custom d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">User</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${userBorrow.loginNameUser}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${userBorrow.nameUser}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${userBorrow.phoneUser}"></p>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Borrow Date</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" th:text="${borrow.beginDateBorrow}"></p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="container py-5">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="h5">Books Bag</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Author</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each=" book: ${books}">
                                                <th>
                                                    <img th:src="@{/data/}+${book.imgBook}" class="img-fluid rounded-3"
                                                        style="width: 120px;" alt="Book">
                                                </th>
                                                <td class="align-middle">
                                                    <p class="mb-0" style="font-weight: 500;"
                                                        th:text="${book.titleBook}"></p>
                                                </td>
                                                <td class="align-middle">
                                                    <p class="mb-0" style="font-weight: 500;"
                                                        th:text="${book.authorBook}"></p>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
    </content>
</body>

</html>