<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/adminLayout.html}">

<head>
    <title>Library</title>
</head>

<body>
    <content layout:fragment="content">
        <div class="row text-center mt-2">
            <div class="col text-uppercase">
                <h1 class="font-weight-bold h1">Scan Book</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" th:action="@{/admin/scanBook}">
                    <button type="submit" class="btn btn-secondary">Scan</button>
                </form>
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-12 ">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>ECP</th>
                            <th>Name</th>
                            <th>Author</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${rfids!=null}" th:each="rfid:${rfids}">
                            <td th:text="${rfid.idTagRead}">
                            </td>
                            <td>
                                <p class="fw-normal mb-1" th:if="${rfid.bookDomain}"><span
                                        th:text="${rfid.bookDomain.titleBook}"></span></p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1" th:if="${rfid.bookDomain}"><span
                                        th:text="${rfid.bookDomain.authorBook}"></span></p>
                            </td>
                            <td>
                                <div th:if="${rfid.bookDomain}">
                                    <span th:if="${rfid.bookDomain.statusBook==0}"
                                        class="badge badge-warning rounded-pill d-inline">borrowing</span>
                                    <span th:if="${rfid.bookDomain.statusBook==1}"
                                        class="badge badge-success rounded-pill d-inline">can borrow</span>
                                </div>
                                <div th:unless="${rfid.bookDomain}"><span
                                        class="badge badge-danger rounded-pill d-inline">not found</span></div>
                            </td>
                            <td>
                                <div th:if="${rfid.status==0}">
                                    <a th:href="@{/admin/scan/addOrEdit/}+${rfid.idTagRead}">
                                        <button type="button" class="btn btn-primary">
                                            Add
                                        </button>
                                    </a>
                                </div>
                                <div th:if="${rfid.status==1}">
                                    <a th:href="@{/admin/scan/addOrEdit/}+${rfid.idTagRead}">
                                        <button type="button" class="btn btn-primary">
                                            Edit
                                        </button>
                                    </a>
                                    <a th:href="@{/admin/delete/}+${rfid.bookDomain.idBook}">
                                        <button type="button" class="btn btn-danger">
                                            Delete
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row m-4">
            <div class="col d-flex justify-content-center">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </content>
</body>

</html>