<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
    <nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2" href="https://mdbgo.com/">
                <i class="fas fa-book-open fa-2x"></i>
            </a>
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/admin/}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/admin/borrow}">Borrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/admin/scan}">Scan Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/admin/managerUser}">Manager User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/admin/managerBook}">Manager Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/admin/managerBorrow}">Manager Borrow</a>
                    </li>
                </ul>
                <!-- Left links -->

                <div class="d-flex align-items-center">
                    <div>
                        <i class="fas fa-user"></i> <span>Admin</span>
                        <a th:href="@{logout}"><u>Logout</u></a>
                    </div>
                </div>
            </div>
            <!-- Collapsible wrapper -->
        </div> 
        <!-- Container wrapper -->
    </nav>
</body>

</html>