<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/userLayout.html}">

<head>
    <title>Library</title>
</head>

<body>
    <content layout:fragment="content">
        <div class="row mt-2">
            <div class="col">
                <h4 class="text-uppercase font-weight-bold h2 mt-2">Browse Books</h4>
            </div>
            <div class="col d-flex align-items-center" style="justify-content: flex-end;">
                <div class="">
                    <form th:action="@{/search}" class="col d-flex justify-content-center">
                        <div class="form-inline my-2 my-lg-0 me-2">
                            <select class="form-control" name="menuSearch">
                                <option>All</option>
                                <option>Book</option>
                                <option>Author</option>
                            </select>
                        </div>
                        <div class="form-inline my-2 my-lg-0 d-flex">
                            <input name="contentSearch" class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div th:replace="fragments/user/side::side"></div>
            </div>
            <div class="col-9 " style="border-left: 1px solid #dadada; ">
                <div class="row mt-2 bg-white pt-4 pb-4">
                    <div class="col-4 mb-4" th:each="book:${books}">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple d-flex" data-mdb-ripple-color="light">
                                <img th:src="@{/data/}+${book.imgBook}" src="../../static/data/01.jpg"
                                    class="imgBrowser"
                                    style="width: 120px;height: 190px;margin: auto;padding-top: 10px;" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title" th:text="${book.titleBook}">Title</h5>
                                <p th:text="${book.authorBook}"></p>
                                <div class="buttonBook mt-2">
                                    <div class="statusBook mb-2">
                                        <h6 th:if="${book.statusBook==1}" class="text-success d-inline">Can borrow</h6>
                                        <h6 th:if="${book.statusBook==0}" class="text-danger d-inline">Can't borrow</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col pe-1">
                                            <a class="float-end" th:if="${book.statusBook==1}"
                                                th:href="@{'/addBookBorrow/'+${book.idBook}}"><button type="button"
                                                    class="btn btn-danger me-1">Borrow</button></a>
                                            <a class="float-end" th:if="${book.statusBook==0}"><button type="button"
                                                    class="btn btn-danger me-1" disabled>Borrow</button></a>
                                            <!-- <button type="button" class="btn btn-info">Watch</button> -->
                                        </div>
                                        <div class="col ps-1">
                                            <button type="button" class="btn btn-primary float-start">Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-4">
                <div class="col d-flex justify-content-center">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
    </content>
</body>

</html>