<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/userLayout.html}">

<head>
    <title>Library</title>
</head>

<body>
    <content layout:fragment="content">
        <div class="row text-center mt-2">
            <div class="col text-uppercase">
                <h1 class="font-weight-bold h1">Your List Borrow</h1>
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-12 ">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>ID</th>
                            <th>Begin Date</th>
                            <th>End Date</t>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each=" borrow: ${listInfoBorrow}">
                            <td th:text="${borrow.idBorrow}">
                            </td>
                            <td>
                                <p class="fw-normal mb-1" th:text="${borrow.beginDateBorrow}"></p>
                            </td>
                            <td>
                                <p class="fw-normal mb-1" th:text="${borrow.endDateBorrow}"></p>
                            </td>
                            <td>
                                <span class="badge badge-warning rounded-pill d-inline">borrowing</span>
                            </td>
                            <td>
                                <a th:href="@{/userBorrow/details/}+${borrow.idBorrow}">
                                    <button type="button" class="btn btn-primary">
                                        Details
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row m-4">
            <div class="col d-flex justify-content-center">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </content>
</body>

</html>